
/* contenido del Header */

.menu{
    background-color: tomato;
    color:#fff;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}
    .logo i{
        /* flex:1 1 auto; */
        /* flex-basis: 20%; */
        font-size: 20px;
        
    }
    .menu-nav{
        /* flex:1 1 auto; */
        flex-basis: 80%;

    }
        .menu-nav a{
            text-decoration: none;
        }